DATABASE_URL="postgresql://<user>:<password>@<host>:<port>/<database>?schema=public"
DIRECT_URL="postgresql://<user>:<password>@<host>:<port>/<database>?schema=public"
TEST_DATABASE_URL="postgresql://<user>:<password>@<host>:<port>/<test-database>?schema=public"
APP_ORIGIN="http://127.0.0.1:3100"
APP_ENV="local"
MOCK_PAYMENTS_ENABLED="false"
DEMO_MODE="false"
DEMO_PAID_SESSION_ID="00000000-0000-4000-8000-000000000001"
DEMO_PAID_ASSESSMENT_ID="00000000-0000-4000-8000-000000000002"
CRON_SECRET=""
SESSION_CREATION_LIMIT_PER_MINUTE="60"
